:host {
    position: relative;
    width: calc(100vw);
    height: calc(100vh);
}

$topheight: 110px;
$bottomheight: 50px;

section.top, section.bottom, section.middle {
    border: 1px solid blue;
}

section.top { height: $topheight; }
section.bottom { height: $bottomheight; }

section.middle {
    height: calc(100vh - #{$topheight} - #{$bottomheight} - 6px);
}

section.top nav a { 
    margin-right: 10px;
}

section.middle >>> * .game-group {
    app-terminal { height: 575px; width: 500px; float: left; }
    app-spades { float: left; clear: right; }
    & > * { float:left; border: 1px solid black; padding: 5px;  }
    & { display: block; clear: both; }
}
