<section class="top">
  <h1> @hawryschuk/spades </h1>
  <nav>
    <!-- [queryParams]="{debug: true}" fragment="education" -->
    <ng-container *ngFor="let route of routes">
      <a *ngIf="route.path!='**' && (route.path!=='cli' || api.features.cli)" [routerLink]="[route.path]"> {{route.path}} </a>
    </ng-container>
  </nav>
</section>

<section class="middle">
  <router-outlet></router-outlet>
</section>

<section class="bottom">
  <footer> Copyright 2006-2021 (C) hawryschuk.com, @hawryschuk, hawryschuk.eth </footer>
</section>