div.form {
    height: 100px; 
    div {
        label { width: 150px; float: left; }
        input,select { width: 190px; float: left; margin:0; padding:0; }
        select { margin-right:4px }
        button { width: 300px; }
        clear: both; 
    }
}

app-terminal { display: block; clear: both; width: 100%; height: calc(100% - 100px - 15px); }