<ng-container *ngIf="game && players && directions">
    <div *ngIf="0" class="ack_hand">
        <!-- <button  (click)="ack_hand()"> Next Hand... </button> -->
    </div>

    <div *ngIf="game?.finished" class="ack_game">
        Game over!
        <!-- <button [disabled]="api.loading" (click)="ack_game()"> Finish </button> -->
    </div>

    <div class="north">
        <div class="buttons">
            <!-- <button *ngIf="" (click)="client.InviteRobot(player)"> robot        </button> -->
            <!-- <button *ngIf="players[player-1].type==='VacantTerminal'" (click)="inviteOnline(players[player-1])"> online        </button> -->
            <!-- <button *ngIf="players[player-1].type!=='VacantTerminal'" (click)="boot(players[player-1])"> boot </button> -->
            <!-- <button (click)="boot(players[player-1])"> sit </button> -->
            <!-- <button (click)="Perspective=player-1"> observe </button> -->
        </div>
        <span class="name">{{ players.north.name }}</span>
    </div>

    <div class="west">
        <!-- <div>
            <button *ngIf="players[player-1].type==='VacantTerminal'" (click)="inviteRobot(players[player-1])"> robot
            </button>
            <button *ngIf="players[player-1].type==='VacantTerminal'" (click)="inviteOnline(players[player-1])"> online
            </button>
            <button *ngIf="players[player-1].type!=='VacantTerminal'" (click)="boot(players[player-1])"> boot </button>
            <button (click)="boot(players[player-1])"> sit </button>
            <button (click)="Perspective=player-1"> observe </button>
        </div> -->
        <span class="name">{{ players.west.name }}</span>
    </div>

    <div class="east">
        <!-- <div *ngIf="!tableService" class="buttons">
            <button *ngIf="players[player-1].type==='VacantTerminal'" (click)="inviteRobot(players[player-1])"> robot
            </button>
            <button *ngIf="players[player-1].type==='VacantTerminal'" (click)="inviteOnline(players[player-1])"> online
            </button>
            <button *ngIf="players[player-1].type!=='VacantTerminal'" (click)="boot(players[player-1])"> boot </button>
            <button (click)="boot(players[player-1])"> sit </button>
            <button (click)="Perspective=player-1"> observe </button>
        </div> -->
        <span class="name">{{ players.east.name }}</span>

    </div>

    <div class="score our-score">
        <span class="amount"> {{ players.south.team.score }} / {{ players.south.team.bags }} </span>
        <span class="completed" [style.width.px]="scoreWidth(players.south.team.score)"> &nbsp; </span>
    </div>

    <div class="score their-score">
        <span class="amount"> {{ players.east.team.score }} / {{ players.east.team.bags }} </span>
        <span class="completed" [style.width.px]="scoreWidth(players.east.team.score)"> &nbsp; </span>
    </div>

    <div *ngIf="terminal().prompts.bid && game.turn==players.south" id="your-bid">
        <div *ngIf="{ clashed: game.teams[0].bid + game.teams[1].bid - 13 } as vars2">

            <div [style.margin-left.px]="0" class="dot" (click)="books=0" [attr.data-value]="">
                <div style="position:absolute; margin-top:-20px" class="label"> Nil </div>
            </div>

            <div *ngFor="let card of game.player.cards; let index=index" [style.margin-left.px]="38 + index*21.5"
                class="dot" (click)="books=index+1" [class.claimed]="books >= (index+1)"
                [class.clashed]="vars2.clashed>0 && index >= books - vars2.clashed && index < books"
                [attr.data-value]="'game.bid_as_string2[index]'">
                <div style="position:absolute; margin-top:-20px" class="label">{{index+1}}</div>
            </div>

            <p style="text-align:center; border: 1px solid black; width: 133px; font-weight: bold; position: absolute; margin-left: 38px; margin-top: 60px; color:green"
                id="our-bid"> {{ books }} + {{ game.players[2].bid ?? '?' }}</p>
            <p style="text-align:center; border: 1px solid black; width: 133px; font-weight: bold; position: absolute; margin-left: 175px; margin-top: 60px; color:red"
                id="their-bid"> {{ players.west.bid ?? '?' }} + {{ players.east.bid ?? '?' }} </p>

            <button
                style="position: absolute; margin-top: 100px; margin-left: 110px; width: 120px; height: 40px; text-align: center;"
                (click)="terminal().respond(books,'bid')">
                Make Bid
            </button>
        </div>
    </div>

    <!-- Each player's card played-->
    <app-card *ngIf="game.book[directions!.south] as card" [card]="card" name="south"> </app-card>
    <app-card *ngIf="game.book[directions!.west] as card" [card]="card" name="west"> </app-card>
    <app-card *ngIf="game.book[directions!.north] as card" [card]="card" name="north"> </app-card>
    <app-card *ngIf="game.book[directions!.east] as card" [card]="card" name="east"> </app-card>

    <!-- <div class="status-message"> <span> $status </span> </div>
    <div class="autoplay">
        <input id="autoplay" type="checkbox" name="autoplay">
        <label for="autoplay">autoplay</label>
    </div>
 -->
    <div *ngFor="let c of bid_as_string;let index = index" [attr.data-index]="index+1"
        [style.margin-left.px]="8 + index*9.7" class="bid-dot" [attr.data-value]="c">
        &nbsp;
    </div>

    <div *ngFor="let c of progress_as_string;let index = index" [attr.data-index]="index+1"
        [style.margin-left.px]="8 + index*9.7" class="book-dot" [attr.data-value]="c">
        &nbsp;
    </div>

    <!-- Each player's bid -->
    <div class="bid north-bid">
        <ng-container *ngIf="(players.north.bid!>=0)"> {{ players.north.books.length }} / </ng-container>
        {{ players.north.bid }}
    </div>
    <div class="bid west-bid">
        <ng-container *ngIf="(players.west.bid!>=0)"> {{ players.west.books.length }} / </ng-container>
        {{ players.west.bid }}
    </div>
    <div class="bid south-bid">
        <ng-container *ngIf="(players.south.bid!>=0)"> {{ players.south.books.length }} / </ng-container>
        {{ players.south.bid }}
    </div>
    <div class="bid east-bid">
        <ng-container *ngIf="(players.east.bid!>=0)"> {{ players.east.books.length }} / </ng-container>
        {{ players.east.bid }}
    </div>

    <!-- Each of the game perspectives cards -->
    <app-card *ngFor="let card of players.south.cards; let index = index" [name]="'card'+(index+1)" [card]="card"
        [attr.data-clickable]="discardables?.includes(card)" [clickable]="discardables?.includes(card)"
        (click)="terminal().prompts.discard && discardables?.includes(card) && terminal().respond(card,'discard')">
    </app-card>

</ng-container>